<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index"><span>DesfaçaFacil</span></a>
            </div>
            <div class="col-sm-6">
                <form class="navbar-form" role="search" action="/Home/Pesquisa/" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control .col-xs-4" placeholder="Pesquisar" name="busca" id="busca">
                        <div class="input-group-btn" style="width:2%">
                            <button class="btn btn-default" type="submit">Buscar</button>
                            <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">

                @if (Int32.Parse(Session["IdUsuario"].ToString()) == -1)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li id="Home" class="active">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li id="Cadastro">
                            @Html.ActionLink("Cadastro", "Cadastro", "Usuarios")
                        </li>
                        <li id="Login">
                            @Html.ActionLink("Login", "Index", "Login")
                        </li>
                    </ul>
                }
                else
                {
                    <b>Bem vindo(a), @Session["Nome"] (@Html.ActionLink("Sair", "Sair", "Login"))</b>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="Painel" class="active">
                            @Html.ActionLink("Painel do Usuario", "PainelUsuario", "Login")
                        </li>
                    </ul>
                }

            </div>
        </div>
    </div>
    @RenderBody()
    <footer class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <b>Defaça Facil</b>
                    <p>Copyright 2016<br>Endereço: ES-010 Km 06 - Manguinhos, Serra - ES<br>CEP:29.173-087<br>(27)99850-0908</p>
                </div>
                <div class="col-sm-6">
                    <p class="text-info text-right">
                        <br>
                        <br>
                    </p>
                    @*<div class="row" ">
                        <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                    </div>*@
                    <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
