
@{
    ViewBag.Title = "Chat";
}
@model List<DAL.DBMensagens>
<div class="section">
    <div class="container">
        <div class="row" draggable="true">
            <div class="col-lg-3 p-a-0" style="height:70%">
                <ul class="nav nav-pills  nav-stacked" draggable="true">
                    <li class="nav-item">
                        <a href="#" class="active nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Messages</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9" style="height:70%">
                <div id="chat" style="overflow:scroll;overflow-x:hidden;height:70%;width:60%;background-color:darkgray;position:relative;align-content:center;border:medium">
                    @{
                        string nomeCandidato = ViewBag.Candidato2.getUsuario().nome;
                    }
                    @foreach (var m in Model)
                    {
                        if (m.usidremetente == ViewBag.Candidato2.usid)
                        {
                            <div style="text-align:left;background-color:white">
                                <b>@nomeCandidato</b>
                                <p>
                                    @m.conteudo<br>
                                    <i style="font-size:0.7em">@m.hora</i>
                                </p>
                            </div>
                        }
                        else
                        {
                            <div style="text-align:right;background-color:white">
                                <b>@ViewBag.Dono2.nome</b>
                                <p>
                                    @m.conteudo<br>
                                    <i style="font-size:0.7em">@m.hora</i>
                                </p>
                            </div>
                        }
                    }
                </div>
                <div id="frm-chat" style="height:20%">
                    <form method="post" onsubmit="Validar()" action="/MENSAGENs/Enviar">
                        <input type="text" name="mensagem" id="mensagem">
                        <input type="hidden" name="remetente" id="remetente">
                        <input type="hidden" name="destinatario" id="destinatario">
                        <input type="hidden" name="_aid" id="_aid" value="@ViewBag.AID">
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
<script type="text/javascript">
    var idlogado = @Session["IdUsuario"].ToString();
    var idDono =  @ViewBag.Dono.ToString();
    var idCandidato = @ViewBag.Candidato.ToString();
    function Validar() {
        if(idlogado == idDono){
            document.getElementById("remetente").value = idDono;
            document.getElementById("destinatario").value = idCandidato;
        }else{
            document.getElementById("destinatario").value = idDono;
            document.getElementById("remetente").value = idCandidato;
        }
    }
</script>