@model DesfacaFacil.Models.ANUNCIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ANUNCIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATACRIACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATACRIACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATAEXPIRACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATAEXPIRACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA.NOME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
