@model IEnumerable<DesfacaFacil.Models.ANUNCIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATACRIACAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATAEXPIRACAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORIA.NOME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATACRIACAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATAEXPIRACAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIA.NOME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AID })
        </td>
    </tr>
}

</table>
