@using DAL
@model List<DBAnuncio>
@{ IDBController dbcontroller = new DBController(); }
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            AID
        </th>
        <th>
            Status
        </th>
        <th>
            Data Criacao
        </th>
        <th>
            Data Expiracao
        </th>
        <th>
            Descricao
        </th>
        <th>
            Titulo
        </th>
        <th>
            Usuario
        </th>
        <th>
            Categoria
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datacriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataexpiracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dbcontroller.getUsuarios("usid=" + item.usid)[0].nome)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.CATEGORIA.NOME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.aid }) |
                @Html.ActionLink("Details", "Details", new { id = item.aid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.aid })
            </td>
        </tr>
    }
</table>