@{
    ViewBag.Title = "Visualizar";
}
@using DAL;
@model DBAnuncios
@{ IDBController dbcontroller = new DBController();}
<head>
    <title>@Model.titulo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
    <link href="estilo.css" rel="stylesheet" type="text/css">
</head>
<div class="section" id="conteudo">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/Repositorio/Imagens/Anuncios/@ViewBag.Imagens[0].nome" class="img-responsive img-rounded">
                </div>

                @if (Model.usid.ToString() != Session["IdUsuario"].ToString())
                {
                    if (Model.tipo == 1)
                    {
                        string texto = "Desejo Receber";
                        <a class="btn btn-primary" id="btnCandidatar" onclick="SalvarCandidato()">@texto</a>
                    }
                    else if (Model.tipo == 2)
                    {
                        string texto = "Quero Doar";
                        <a class="btn btn-primary" id="btnCandidatar" onclick="SalvarCandidato()">@texto</a>
                    }
                }

                @if (Session["IdUsuario"].ToString() != "-1" && Session["IdUsuario"].ToString() != Model.usid.ToString())
                {
                    <a class="btn btn-primary" id="btnMensagem" href="~/mensagens/chat/?canid=@Session["IdUsuario"].ToString()&aid=@Model.aid">Conversar</a>
                }

            </div>
            <div class="col-md-4">
                <h1 class="text-primary" id="titulo">@Model.titulo</h1>
                <h3 id="proprietario">@dbcontroller.getUsuarios("usid=" + Model.usid).Single().nome</h3>
                <h4 class="text-primary">Data de Criação:</h4>
                <p id="descricao" class="text-justify">
                    Descrição:
                    <br>@Model.descricao
                </p>
            </div>

            <div class="col-md-4" id="candidatos">
                @if (Session["IdUsuario"].ToString() == Model.usid.ToString())
                {
                    <ul class="nav nav-pills  nav-stacked" draggable="true">
                        @foreach (var candidato in Model.getCandidatos())
                        {
                            <li class="nav-item">
                                <a href="~/mensagens/chat/?canid=@candidato.canid&aid=@Model.aid" class="active nav-link">@candidato.getUsuario().nome</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function SalvarCandidato() {
        if (confirm("Deseja candidatar-se?")) {
            location.href = "../../candidatos/SalvarCandidato/?idanuncio=@Model.aid";
        }
    }
</script>
