@{
    ViewBag.Title = "Visualizar";
}
@using DAL;
@model DBAnuncios
@{ IDBController dbcontroller = new DBController();}
<head>
    <title>@Model.titulo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="estilo.css" rel="stylesheet" type="text/css">
</head>
<div class="section" id="conteudo">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    @{string imgNome;}
                    @try
                    {
                        imgNome = ViewBag.Imagens[0].nome;
                    }
                    catch (ArgumentOutOfRangeException ex)
                    {
                        imgNome = "sem-foto.gif";
                    }

                    <img src="~/Repositorio/Imagens/Anuncios/@imgNome" class="img-responsive img-rounded">
                </div>
                @if (Model.usid.ToString() == Session["IdUsuario"].ToString())
                {
                    <a class="btn btn-primary" id="btnMensagem" href="~/Anuncios/Alterar/?aid=@Model.aid">Editar Anuncio</a>
                    <a class="btn btn-primary" id="btnMensagem" onclick="fechar()">Fechar Anuncio</a>

                }
                @if (Model.usid.ToString() != Session["IdUsuario"].ToString())
                {
                    string status;
                    if (Model.getCandidatos().Where(x => x.usid.ToString() == Session["IdUsuario"].ToString()).Count() >= 1)
                    {
                        status = "disabled";
                    }
                    else
                    {
                        status = "enabled";
                    }
                    if (Model.tipo == 1)
                    {
                        string texto = "Desejo Receber";
                        <a class="btn btn-primary" id="btnCandidatar" onclick="SalvarCandidato()" @status>@texto</a>
                    }
                    else if (Model.tipo == 2)
                    {
                        string texto = "Quero Doar";
                        <a class="btn btn-primary" id="btnCandidatar" onclick="SalvarCandidato()" @status>@texto</a>
                    }
                }


                @if (Session["IdUsuario"].ToString() != "-1" && Session["IdUsuario"].ToString() != Model.usid.ToString())
                {
                    string status;
                    string url;
                    try
                    {
                        url = "../../Mensagens/Chat/?canid=" + @Model.getCandidatos().Where(x => x.usid.ToString() == Session["IdUsuario"].ToString()).Single().canid + "&aid=" + @Model.aid;
                        status = "enabled";

                    }
                    catch (InvalidOperationException ex)
                    {
                        status = "disabled";
                        url = "";

                    }
                    <a @status class="btn btn-primary" id="btnMensagem" href=@url>Conversar</a>
                }

            </div>
            <div class="col-md-4">
                <h3 class="text-primary" id="titulo">@Model.titulo</h3>
                @{string expiracao = " " + Model.dataexpiracao.Day + "/" + Model.dataexpiracao.Month + " as " + Model.dataexpiracao.Hour + ":" + Model.dataexpiracao.Minute + "h"; }
                <b>Anunciante:</b> @dbcontroller.getUsuarios("usid=" + Model.usid).Single().nome<br />
                <b>Expira em:@expiracao</b>
                <p id="descricao" style="width:80%;max-height:25%;overflow-y:scroll">
                    <b>Descrição:</b>
                    <br>@Model.descricao
                </p>
            </div>

            <div class="col-md-4" id="candidatos">
                @if (Session["IdUsuario"].ToString() == Model.usid.ToString())
                {
                    <ul class="nav nav-pills  nav-stacked" draggable="true">
                        <h4>Lista de Candidatos</h4>
                        @if (Model.getCandidatos().Count == 0)
                        {
                            <p>Nenhum candidato encontrado</p>
                        }
                        else
                        {
                            foreach (var candidato in Model.getCandidatos())
                            {
                                <li class="nav-item">
                                    <a href="~/mensagens/chat/?canid=@candidato.canid&aid=@Model.aid" class="active nav-link">Conversar com @candidato.getUsuario().nome</a>
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fechar() {
        bootbox.confirm("Deseja fechar o anuncio?", function (result) {
            confirma = result;
            if (confirma) {
                @Model.Fechar();
                location.href = "../../Candidatos/SalvarCandidato/?idanuncio=@Model.aid";
            };
        })
    }

    function SalvarCandidato() {
        bootbox.confirm("Deseja candidatar-se?", function (result) {
            confirma = result;
            if (confirma) {
                location.href = "../../Candidatos/SalvarCandidato/?idanuncio=@Model.aid";
            };
        })

    }
</script>
