@model IEnumerable<DesfacaFacil.Models.ENDERECO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PAIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BAIRRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.NOME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PAIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIDADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BAIRRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.NOME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EID })
        </td>
    </tr>
}

</table>
