@model DesfacaFacil.Models.CANDIDATO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CANDIDATO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ANUNCIO.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANUNCIO.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CANID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
